
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit login</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <form method="post" action="/login">
    <field>
      <label for="username">Username:</label>
      <input type="text" name="username" required />
    </field>
    <field>
      <label for="email">Email:</label>
      <input type="Email" name="email" />
    </field>
    <field>
      <label for="password">Password:</label>
      <input type="password" name="password" />
    </field>
    <button type="submit">Login</button>
  </form>  
</body>
</html>
